@import
  "components/foundation",
  "components/normalize";

//Main Colors
$red: #C92831;
$darkred: #84252C;
$blue: #1E2F41;
$lightblue: #729896;
$white: #F1DEB7;

html {
	height: 100%;
}

body {
	height: 100%;
}

h1 {
	color: $blue;
	font-size: 4em;
	font-family: helvetica;
}

p {
	color: #666;
	font-family: helveticaneue;
}


//Header
.borde {
	position: fixed;
	height: 1em;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: #FFF;
}

header {
	height: 100%;
}

.init {
	background-color: $lightblue;
	background-size: cover;
	height: 90%;
	width: 100%;
	display: block;
	border: solid white 1em;
	position: relative;
	overflow: hidden;
	h1 {
		color: $white;
	}
	h2{
		color: $blue;
	}
	.row {
		height: 100%;
	}
	.large-12 {
		height: 100%;
	}
}

.down {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: inherit;
}

.spin {
	position: absolute;
	width: 25em;
	height: 25em;
	right: -50px;
	bottom: 0;
	background-color: darken($lightblue, 15%);
}

//Footer
.ultim {
	background-color: $darkred;	
	padding-top: 3em;
	padding-bottom: 3em;
	p {
		color: $white;
	}
}