<footer>

	<div class="ultim">
	<div class="row">
	<div class= "medium-3 columns">
		<img src="images/headshot.jpg" alt="picture of sean">
	</div>
	<div class= "medium-3 columns">
		<h3>I'm social</h3>
	</div>
	<div class= "medium-3 columns">
		<ul>
			<li class="icon-mail"><a href="mailto:seaneduncan@gmail.com">Mail</a></li>
			<li class="icon-github"><a href="http://github.com/seanevd" target="_blank">GitHub</a></li>
			<li class="icon-codepen"><a href="http://codepen.io/seanevd" target="_blank">CodePen</a></li>
		</ul>
	</div>
	<div class= "medium-3 columns">
		<ul>
			<li class="icon-twitter"><a href="http://twitter.com/seanevd" target="_blank">Twitter</a></li>
			<li class="icon-screen"><a href="http://blog.seanevd.com" target="_blank">Blog</a></li>
			<li class="icon-soundcloud"><a href="http://soundcloud.com/seanevd" target="_blank">SoundCloud</a></li>
		</ul>
	</div>
	</div>
	</div>
</footer>