
  
  <header>
    <div class="borde top"></div>
    <div class="borde left"></div>
    <div class="borde right"></div>
    <div class="borde bottom"></div>
    <div class="init">
      <div class="spin"><div class="hex"></div></div>
      <div class="row">
        <div class="small-12">
        <div class="down">
          <div class="icon-logo"></div>
          <h1> Sean E. Duncan </h1>
          <h2> Web Developer & Designer</h2>
          <ul class="social">
            <li class="icon-twitter"><a href="http://twitter.com/seanevd">Twitter</a></li>
            <li class="icon-github"><a href="http://github.com/seanevd">GitHub</a></li>
            <li class="icon-codepen"><a href="http://codepen.io/Sevand/">CodePen</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
    <div class="init2">
      <div class="row">
        <div class="small-12 columns">
          <a href="#recentwork" class="icon-downarrow"></a>
        </div>
      </div>
    </div>
  </header>
  